<!DOCTYPE html>
<html lang="en">

<head>
    <title>Loyalty</title>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body class="text-white" style="background-color:rgb(60,34,144);">

    <!--Header-->
    <header id="myHeader">
    </header>

    <!--NavBar-->
    <nav id="myNav">
    </nav>

    <!--Table container-->
    <div class="mt-5 pb-5 container" id="paragraph">
        <div class="row">
            <div class="text-justify col col-lg-6 float-left pt-5">
                <h2>Party Loyalty</h2>
                <p>Those who consider themselves to be strong partisans, strong Democrats and strong Republicans
                    respectively, tend to be the most faithful in voting for their party's nominee for office and
                    legislation that backs their party's agenda. </p>
            </div>
            <div class="text-justify col col-lg-6 float-right pt-5">
                <h5 class="text-center text-white font-weight-bold">House at a glance</h5>
                <table class="table table-striped  text-white-50 text-center float-right" id="at_a_glance">
                    <thead class="text-white font-weight-bold">
                        <tr>
                            <th v-for='title in titles'>{{title}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for='party in partyS'>
                            <td>{{party.party}}</td>
                            <td>{{party.number_of_reps}}</td>
                            <td>{{party.votes_with_party_pct}} %</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container border-top border-white" id='loyalty'>
        <div class="row" id="paragraph">
            <div class="text-justify col col-lg-6 float-left pt-5">
                <h5 class="text-center text-white font-weight-bold">Least Loyal (Bottom 10% of Party)</h5>
                <table class="table table-striped  text-white-50 text-center" id="least_loyal">
                    <thead class="text-white font-weight-bold">
                        <tr>
                            <th v-for='title in titles'>{{title}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for='members in data'>
                            <td><a v-bind:href= (members.url==''?null:members.url) target='_blank'>{{ members.name }}</a></td>
                            <td>{{members.votes_with_party}}</td>
                            <td>{{members.votes_with_party_pct}} %</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-justify col col-lg-6 float-right pt-5">
                <h5 class="text-center text-white font-weight-bold">Most Loyal (Top 10% of Party)</h5>
                <table class="table table-striped  text-white-50 text-center" id="most_loyal">
                    <thead class="text-white font-weight-bold">
                        <tr>
                            <th v-for='title in titles'>{{title}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for='members in data'>
                            <td><a v-bind:href= (members.url==''?null:members.url) target='_blank'>{{ members.name }}</a></td>
                            <td>{{members.votes_with_party}}</td>
                            <td>{{members.votes_with_party_pct}} %</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--Footer-->
    <footer id="myFooter">
    </footer>

    <!-- Assets Vue-->
    <script src="assets/vue/DOMParts.js"></script>
    <script src="assets/vue/data.js" chamber="house"></script>
    <script src="assets/vue/statistics.js"></script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>